<div id='homepage'>
  <img
    id='beerImage'
    width='300'
    height='300'
    src='/images/beer.png'
    alt='Beer'
  />

  <a href='/beers' class='button1'>Check the Beers!</a>
  <a href='/random-beers' class='button2'>Check a Random Beer!</a>
</div>
<footer>Developed by Ironhack</footer>